{{ define "main" }}

<div class="py-5 px-5 md:px-20 mx-auto h-full flex justify-center items-center">
  <div class="bg-white w-full rounded-lg md:w-[600px]">
    <img src="/images/spicer-matthews-wine-drinking.jpg" alt="Spicer Matthews" class="rounded-t-lg" />

    <div class="py-5 px-8">
      <h2 class="font-semibold">Blog Posts</h2>

      <ul>
        {{ range .Data.Pages }} {{ if eq .Type "blog"}}
        <li class="my-3">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }} {{ end }}
      </ul>

      {{- partial "social-bar.html" . -}}
    </div>
  </div>
</div>

{{ end }}
