{{ define "main" }}

<div class="md:py-5 md:px-5 justify-center">
  <div class="bg-white md:w-2/3 mx-auto rounded-lg">
    <div class="bg-gray-600 w-full rounded-t-lg text-center">
      <span class="hidden md:inline font-light">Click here ----></span>
      <a href="/blog" class="text-white ml-5 hover:text-black">The thoughts of Spicer Matthews</a>
      <span class="hidden lg:inline font-light"> &nbsp; &nbsp; &nbsp;<---- I dare you!</span>
    </div>
    <div class="py-5 px-8">
      <h1 class="text-center">{{ .Title }}</h1>
      <p><b>Date:</b> {{ .Date.Format "Jan 02, 2006" }}</p>

      <div class="my-5">{{ .Content }} {{- partial "twitter-footer-upsell.html" . -}} {{- partial "newsletter.html" . -}}</div>

      {{- partial "social-bar.html" . -}}
    </div>
  </div>
</div>

{{ end }}
