<div class="bg-orange-200 px-1 py-1 md:px-10 md:py-5">
	<form action="https://sendy.cloudmanic.com/subscribe" method="POST" accept-charset="utf-8" class="pb-3 pt-3 md:ml-8">
		<h1 class="m-0">Join My Newsletter</h1>

		<p>1,000+ people have joined to following along as I share on software and bussiness.</p>

		<input type="email" name="email" class="rounded-l-lg p-4 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white w-full md:w-2/3" placeholder="your@mail.com" />
		<button id="submit" class="px-8 rounded-r-lg bg-yellow-400  text-gray-800 font-bold p-4 uppercase border-yellow-500 border-t border-b border-r" style="margin-left: -5px;">
			Subscribe
		</button>

		<div style="display:none;">
			<label for="hp">HP</label><br />
			<input type="text" name="hp" id="hp" />
		</div>

		<input type="hidden" name="name" id="name" />
		<input type="hidden" name="list" value="d6NCbNvNND97RBlw7B67cA" />
		<input type="hidden" name="subform" value="yes" />
		<input type="hidden" name="submit" id="submit" />
	</form>
</div>
