{{ define "main" }}

{{ .Content }}


{{/*
	<div class="bg-gray-400 p-40 w-1/2">
	<h1 class="font-sans text-lg my-5 font-extrabold">Pages</h1>

	<ul>
		<li><a href="{{ .Site.BaseURL }}/blog" class="font-sans text-blue-900 font-bold">Blog</a></li>
{{ range first 10 .Data.Pages }}
{{ if eq .Type "page"}}
<li><a href={{ .Permalink }} class="font-sans text-blue-900 font-bold">{{ .Title }}</a></li>
{{ end }}
{{ end }}
</ul>

<h1 class="font-sans text-lg my-5 font-extrabold">Blog Posts</h1>

<ul>
	{{ range first 10 .Data.Pages }}
	{{ if eq .Type "blog"}}
	<li><a href={{ .Permalink }} class="font-sans text-blue-900 font-bold">{{ .Title }}</a></li>
	{{ end }}
	{{ end }}
</ul>
</div>
*/}}

{{ end }}
